* {
    display: flex;
    justify-content: center;

}

#screen {
    width: 260px;
    height: 60px;
    margin: 10px;
    background-color: lightgray;
    justify-content: right;
    align-items: end;
    border-radius: 10px ;
    flex-direction: column;
}

.previous {
    height: 30px;
    align-items: center;
}

.current {
    height: 30px;
    align-items: end;
}

.buttons {
    
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    border: 2px solid black;
    background: dodgerblue;
    
    border-radius: 20px;
}

button {
    margin: 10px;
    width: 50px;
    height: 50px;
    align-items: center;
    background-color: #c2c2c2 ;
    border-radius: 6px;
    font-size: larger;
}

.operator {
    color: #EF3E42;
}

.previous, .current {
    color: #EF3E42;
    font-size: 22px;
    margin: 0px 5px;
}

